.navbar {
    width: 100%;
    height: 3.7rem;

    display: grid;
    grid-template-columns: 10% 90%;

    color: white;
    border-bottom: 2px solid rgba(255, 255, 255, 0.15);

    .navbar-tab {
        margin-left: 3rem;

        align-self: center;

        
        span {
            padding: 0.2rem 0.2rem;
            
            font-size: 1.3rem;
            cursor: pointer;

            
        }

        span:hover {
            border-bottom: 2px solid white;
            transition: border-bottom 0.5s ease;
        }
    }
}
