.container {
    margin-top: 1rem;
    height: 35rem; 

    .container-title {
        margin-left: 2rem;
        margin-bottom: 2rem;

        

        span {
            color: white;
            font-size: 1.3rem;
            border-bottom: 1px solid white;    
        }
    }
}